<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

  <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
  <!-- https://cdnjs.com/libraries/font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>Hello, world!</title>
</head>

<body class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <div>{% if messages %}
    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{i}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    <h1>New Orders
      <a href="{% url 'new_order_list' %}"><span class="badge bg-info">{{order}}</span></a>
      <h1><a href="{% url 'all_order_list' %}" style="text-decoration: none;">Order List</a></h1>
    </h1>

    <hr>

    {% block content %}
    {% if orders %}

    <table class="table table-bordered" style="background-color: black; color: white; text-align: center;">
      <thead style="background-color: #333;">
        <tr>
          <th style="padding: 10px; border: 1px solid #444;">User</th>
          <th style="padding: 10px; border: 1px solid #444;">Product</th>
          <th style="padding: 10px; border: 1px solid #444;">Quantity</th>
          <th style="padding: 10px; border: 1px solid #444;">Email</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        {% for i in orders %}
        <tr>
          <td style="padding: 10px; border: 1px solid #444;">{{ i.user.username }}</td>
          <td style="padding: 10px; border: 1px solid #444;">{{ i.product.product.product_name }}</td>
          <td style="padding: 10px; border: 1px solid #444;">{{ i.product.quantity }}</td>
          <td style="padding: 10px; border: 1px solid #444;">{{ i.email }}</td>
          <td>
            <a href="" class="btn btn-success">View</a>


          </td>

        </tr>
        {% endfor %}
  </div>
  </tbody>
  </table>
  {% endif %}

  {% endblock %}




  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
  <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

  <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
</body>

</html>